/* 有一个 div#wrapper 元素，高、宽度都未知。它其中有一个宽高都为 100px 的 div#box 元素，请你完成 CSS，使得 div#box 在 div#wrapper 内水平、垂直方向居中。 */

/* <div id='wrapper'>
  <div id='box'></div>
</div> */


#wrapper {
    position: relative;
}

/* 相对定位 */

#box{
    position: absolute;
    width: 100px;
    height: 100px;
}

/* 1 */
#box{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* 2 */
#box{
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
/* 3 */
#box{
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px; 
}

/* flex布局 */
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 100px;
    height: 100px;
}

